name: CI for ML project

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install notebook

    - name: Run training Notebook #se agrego Notebook al codigos
      run: jupyter nbconvert --to notebook --execute --inplace randoForest.ipynb #prueba para ver si utiliza el dataset si subir al github, archivo original train.py
      
    - name: Upload plot
      uses: actions/upload-artifact@v4
      with:
        name: prediction-results
        path: |
          prediction_plot.png
          rf_model.pkl
          metrics.txt
