name: CI for ML project

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'
        
    - name: Install rclone
      run: |
        sudo apt-get update && sudo apt-get install -y rclone
    - name: Configure rclone and download Dataset
      env:
        RLCLONE_CONIG: ${{ [MiDrive]
                        type = drive
                        scope = drive
                        token = {"access_token":"ya29.a0ATi6K2si0AkWIP0uNwmNyrGyBp1bx-M3ataMdkPraUkOn3lpaV1U4x6HAk_Ox4KEuABR-heJv7cgsl8nXd99WTa8qEja7wGC3PA6kWZXBJmdrrDuf3agpUiBxfshshb8auGEsWypFBNdyFdf2q6B3Qx9xgckHhK4yDi-GdT0-KtuG0GLbu4o4LDqB6hA0DYQL8ArmYIaCgYKAY4SARcSFQHGX2Mil05shOF9aSbc4kPGT3n7zQ0206","token_type":"Bearer","refresh_token":"1//0hiXaw400R2lKCgYIARAAGBESNwF-L9IriDXu-AlNxVECbE4uR4oXeDqOSVK_SHjodaNWzBWo9uItqRD-E9REaSJIdUZmEB9Ptso","expiry":"2025-11-26T23:55:59.9351118-03:00","expires_in":3599}
                        team_drive = }}
      run: |
        mkdir -p ~/.config/rclone/
        echo "$RCLONE_CONFIG" > ~/.config/rclone/rclone.conf
        rclone copy MiDrive: Miunidad/microprosesadores/datos_modificados1.csv
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install notebook

    - name: Run training Notebook #se agrego Notebook al codigos
      run: jupyter nbconvert --to notebook --execute --inplace randoForest.ipynb #prueba para ver si utiliza el dataset si subir al github, archivo original train.py
      
    - name: Upload plot
      uses: actions/upload-artifact@v4
      with:
        name: prediction-results
        path: |
          prediction_plot.png
          rf_model.pkl
          metrics.txt
