name: CI for random forest project

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.8'

    - name: Install rclone
      run: |
        sudo apt-get update && sudo apt-get install -y rclone

    - name: Configure rclone and download Dataset
      env:
        RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
      run: |
        mkdir -p ~/.config/rclone/
        printf "%s\n" "$RCLONE_CONFIG" > ~/.config/rclone/rclone.conf
        rclone copy MiDrive:microprosesadores/dataset_ml.csv . --config ~/.config/rclone/rclone.conf

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install notebook

    - name: Run training python #se agrego Notebook al codigo
      run: python RandomForest.py #prueba para ver si utiliza el dataset si subir al github, archivo original train.py

    - name: Upload plot
      uses: actions/upload-artifact@v4
      with:
        name: prediction-results
        path: |
          features_H1_hourly.joblib
          random_forest_H1_hourly.joblib
          prediction_plot.png
          rf_model.pkl
          metrics.txt
